@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300);

* {
	border: 0;
	margin: 0;
	padding: 0;
}
body {
	background-color: #eee;
	color: #111;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	letter-spacing: .1em; /*letter-spacing IN PX: 1.5px;*/
	text-align: center;
}
h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 3em;
	font-weight: 300;
	letter-spacing: .4em;
	padding-left: .75%;
	text-align: center;
	text-transform: uppercase;
}
h2 {
	font-weight: 400;
	text-transform: uppercase;
}
a {
	color: #009688;
	text-decoration: none;
}
a:hover {
	color: rgba(0,150,136,.5);
}
footer {
	font-size: .9em;
	line-height: 1em;
	padding: 1%; /*padding IN EM: .9em;*/
}
address {
	font-style: normal;
	padding: .9% 0 1.05%; /*padding IN EM: .75em 0 1em;*/
}
footer img {
	padding: 1.5%; /*padding IN EM: 1.25em;*/
	width: 36px;
}
/*#toggle{
    display: none;
}
label{
    display: none;
} WRITTEN BY SARAH*/
#headernav {
	padding: 1.8% 0 1.1%; /*padding IN EM: 1.65em 0 .9em;*/
}
#headernav img {
	width: 48px;
}
#headernav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#headernav li {
	display: inline;
	margin: 2.2%; /*margin IN EM: 2.25em;*/
	text-transform: uppercase;
}
#headernav a {
	padding: .8%; /*padding IN EM: 1em;*/
}
.headerbreak {
	display: inline;
}
#storybold a, #cafebold a, #pastriesbold a, #blogbold a {
	color: #009688;
	font-weight: 400;
}
#indexmain {
	background-image: url(../images/49parallel_1.jpg);
	background-repeat: no-repeat;
	/*background-size: cover;*/
	background-position: center;
	padding: 16% 0; /*padding IN EM: 14.25em;*/
	text-align: center;
}
#blogmain {
	background-image: url(../images/latte.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 16% 0;
}
.contactbreak {
	display: inline;
}
#two_column {
    padding: 1.25%;
}
#left {
    float: left;
    padding: 1.2% 0 0; /*padding IN PX: 15px 0 0;*/
    width: 30%;
}
#left img {
	width: 78%;
}
/*.imghidden {
	display: none;
	width: 78%;
}*/
#right {
    /*float: right;*/
    line-height: 1.25em;
    /*padding: 1.2% 5% 0 2%;*/ /*padding IN PX: 20px;*/
    text-align: justify;
    /*width: 62%;*/
    max-width: 800px;
    margin: 2.5% auto 1.5%;
}
#right h2 {
	font-size: 1.2em;
}
#right p {
	font-size: .9em;
	padding-top: 4%;
}
.imgtop {
	float: left;
	margin: 0 5% 0 0;
	width: 50%;
}
.imgbottom {
	margin: auto;
}
.imgbottom img {
	/*display: inline;*/
	margin: 2.5% 0 1.5%;
	width: 32%;
}
#imgbottom1 {
	padding-right: .75%;
}
#imgbottom3 {
	padding-left: .75%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
@media screen and (max-width: 1000px) {
	#headernav {
		padding: 18px 0 10px;
	}
	#indexmain {
		text-align: center;
	}
	h1 {
		font-size: 2.5em;
		letter-spacing: .5em;
		line-height: 1.1em;
		padding-left: .4em;
	}
	footer {
		line-height: 1.5em;
		padding: 2%;
	}
	footer img {
		padding: 3%;
	}
}
@media screen and (max-width: 800px) {
	#left {
		float: none;
		margin: 0 auto;
		width: 95%;
	}
	.imgbottom {
		display: none;
	}
	.imghidden {
		display: block;
		margin: 0 auto;
		padding: 6% 0 4% 0;
		width: 74%;
	}
	#right {
		float: none;
		line-height: 1.5em;
		padding: 5% 13% 0 13%;
		width: auto;
	}
	#right h2 {
		font-size: 1.05em;
		text-align: center;
	}
	#right p {
		font-size: .9em;
	}
}
@media screen and (max-width: 700px) {
	.headerbreak {
		display: block;
		margin: 0 auto;
	}
	.contactbreak {
		display: block;
	}
}
@media screen and (max-width: 500px) {
	#headernav {
		padding: 10px 0;
	}
	#headernav ul {
        position: relative;
        /*display: none; WRITTEN BY SARAH*/
        /*background: yellow; WRITTEN BY SARAH*/
    }
    /*label {
        display:block;
    }
    #toggle:checked + ul {
        display:block;
    } WRITTEN BY SARAH*/
    #headernav li {
		display: block;
		margin: 1%;
		padding: 1%;
		text-align: center;
	}
    .menu3 {
	    left: 42%;
	    padding: 0;
	    position: absolute;
	    top: 0;
	    /*width: 3em; WRITTEN BY SARAH*/
        /*left, right, bottom - WRITTEN BY SARAH*/
    }
    #headernav li:first-of-type {
        padding-top: 57px;
    }
}
