@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300);

* {
	/*border: 0;*/
	margin: 0;
	padding: 0;
}
body {
	background-color: #eee;
	color: #111;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	letter-spacing: .1em; /*letter-spacing IN PX: 1.5px;*/
	text-align: center;
}
h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 3em;
	font-weight: 300;
	letter-spacing: .4em;
	padding-left: .75%;
	text-align: center;
	text-transform: uppercase;
}
h2 {
	font-size: 1.5em;
	font-weight: 400;
	text-transform: uppercase;
}
a {
	color: #009688;
	text-decoration: none;
}
a:hover {
	color: rgba(0,150,136,.5);
}
footer {
	font-size: .9em;
	line-height: 1em;
	padding: 1%; /*padding IN EM: .9em;*/
}
address {
	font-style: normal;
	padding: .9% 0 1.05%; /*padding IN EM: .75em 0 1em;*/
}
footer img {
	margin: 0 .75%;
	padding: 1.5% .75%; /*padding IN EM: 1.25em;*/
	width: 36px;
}
section {
	margin-top: 5%;
}
hr {
	margin: auto;
	max-width: 1000px;
}
/*#toggle{
    display: none;
}
label{
    display: none;
} WRITTEN BY SARAH*/
#headernav {
	padding: 1.8% 0 1.1%; /*padding IN EM: 1.65em 0 .9em;*/
}
#headernav img {
	width: 48px;
}
#headernav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#headernav li {
	display: inline;
	margin: 2.2%; /*margin IN EM: 2.25em;*/
	text-transform: uppercase;
}
#headernav a {
	padding: .8%; /*padding IN EM: 1em;*/
}
.headerbreak {
	display: inline;
}
#storybold a, #cafebold a, #pastriesbold a, #blogbold a {
	color: #009688;
	font-weight: 400;
}
#indexmain {
	background-image: url(../images/49parallel_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/*background-position: center;*/
	/*margin: 0 auto;*/
	padding: 16% 0; /*padding IN EM: 14.25em;*/
	/*text-align: center;*/
}
#blogmain {
	background-image: url(../images/latte.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 16% 0;
}
.contactbreak {
	display: inline;
}
#copy {
    line-height: 1.35em;
    margin: 2.5% auto;
    max-width: 1000px;
    /*padding: 1.2% 5% 0 2%;*/ /*padding IN PX: 20px;*/
    text-align: justify;
}
#copy p {
	padding-top: 4%;
}
.imgtop {
	float: left;
	margin: 0 5% .5% 0;
	width: 50%;
}
.imgbottom img {
	margin: 2.5% 0 0;
	width: 32%;
}
#imgbottom1, #imgbottom2 {
	margin-right: 1.5%;
}
.imgblog {
	float: left;
	margin: 0 5% 0 0;
	width: 33%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
@media screen and (max-width: 1024px) {
	h1 {
		font-size: 2.5em;
		letter-spacing: .5em;
		line-height: 1.1em;
		/*padding-left: .4em;*/
	}
	footer {
		line-height: 1.5em;
		padding: 2%;
	}
	footer img {
		margin: .75% 1%;
	}
	hr {
		width: 80%;
	}
	#headernav {
		padding: 18px 0 10px;
	}
	#copy {
		width: 80%;
	}
	.imgtop {
		margin: 0 5% 3% 0;
		width: 400px;
	}
	.imgbottom img {
		margin: 2.5% 0 0;
		width: 32%;
	}
	#imgbottom1, #imgbottom2 {
		margin-right: 1.2%;
	}
	.imgblog {
		float: left;
		margin: 0 5% .5% 0;
		min-width: 55%;
	}
}
@media screen and (max-width: 768px) {
	h2 {
		font-size: 1.35em;
		text-align: center;
	}
	.headerbreak {
		display: block;
		margin: 0 auto;
	}
	.contactbreak {
		display: block;
	}
	#copy {
		line-height: 1.5em;
		margin: 3.5% auto;
	}
	#copy p {
		font-size: .95em;
	}
	.imgtop {
		float: none;
		margin: 0 0 3% 0;
		width: 100%;
	}
	.imgbottom img {
		display: block;
		margin: 3.5% auto;
		width: 100%;
	}
}
@media screen and (max-width: 640px) {
	#headernav {
		padding: 10px 0;
	}
	#headernav ul {
        position: relative;
        /*display: none; WRITTEN BY SARAH*/
    }
    #headernav li {
		display: block;
		margin: 1%;
		padding: 1%;
		text-align: center;
	}
	#headernav li:first-of-type {
        padding-top: 57px;
    }
    .menu3 {
	    left: 50%;
	    padding: 0;
	    position: absolute;
	    top: 0;
	    transform: translateX(-50%);
	    /*width: 3em; WRITTEN BY SARAH*/
        /*left, right, bottom - WRITTEN BY SARAH*/
    }
    .imgblog {
		float: none;
		margin: 2% auto;
		width: 100%;
	}
    /*label {
        display:block;
    }
    #toggle:checked + ul {
        display:block;
    } WRITTEN BY SARAH*/
}
