body {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
header {
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
nav {
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
main {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
article {
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}
footer {
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
address {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
nav {
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}


/*@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300);

* {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #333;
}

body {
	background-color: #eee;
	color: #111;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	letter-spacing: 1.5px;
	text-align: center;
}

header {
	padding: .75em;
}

#headernav {
	padding: .9em;
}

#headernav img {
	width: 3em;
}

#headernav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#headernav li {
	display: inline;
	margin: 2.25em;
	text-transform: uppercase;
}

#headernav a {
	padding: 1em;
}

address {
	font-style: normal;
	padding-bottom: 1em;
	padding-top: .75em;
}

#indexmain {
	background-image: url(../images/finishedlatte.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 14.25em;
}

#indexmain h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	font-size: 3em;
	letter-spacing: .25em;
	text-transform: uppercase;
}

footer {
	font-size: .9em;
	line-height: 1em;
	padding: .9em;
}

footer img {
	padding: 1.25em;
	width: 2.5em;
}

#blogpics img {
	width: 30em;
}*/

